name: GitHub Readme Stats

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # 매일 00:00 UTC

jobs:
  generate-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate GitHub Readme Stats
        uses: anuraghazra/github-readme-stats@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
